* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: black;
}

a{
    color: white;
    text-decoration: none;
}

.img1 {
    width: 100%;
    height: 536px;
    position: fixed;
    bottom: 82px;
}


.img2 {
    width: 11%;
    height: 89px;
    position: fixed;
    right: 88%;
    bottom: 87%;
}

.text1 {
    position: fixed;
    color: white;
    right: 73%;
    bottom: 88%;
    font-size: 118%;
}

.text2 {
    color: white;
    position: fixed;
    right: 8%;
    bottom: 92%;
    font-size: 106%;
}

.text3 {
    color: white;
    position: fixed;
    right: 2%;
    bottom: 92%;
    font-size: 106%;
}

.hr1 {
    bottom: 85%;
    position: fixed;
    width: 101%;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    position: fixed;
    bottom: 78%;
    font-size: 129%;
    right: 25%;
    font-family: fantasy;
}

.text4 {
    color: white;
    position: fixed;
    bottom: 62%;
    right: 65%;
    font-size: 435%;
    background: none;
}

.text5 {
    color: white;
    position: fixed;
    bottom: 51%;
    right: 84%;
    font-size: 435%;
    background: none;
}

.text6 {
    color: white;
    position: fixed;
    bottom: 16%;
    right: 68%;
    font-size: 108%;
    background: none;
}

.text7 {
    color: white;
    position: fixed;
    bottom: 13%;
    right: 84%;
    font-size: 107%;
    background: none;
}

.text8 {
    color: white;
    position: fixed;
    bottom: 13%;
    right: 18%;
    font-size: 123%;
    border-radius: 29px;
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 1%;
    padding-top: 1%;
}

.text9 {
    color: white;
    position: fixed;
    bottom: 13%;
    right: 4%;
    font-size: 123%;
    border-radius: 29px;
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 1%;
    padding-top: 1%;
}